/* Fonter */
@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Lilita+One&family=Lily+Script+One&display=swap");

/* 

Primær font:
font-family: 'Lily Script One', cursive; 

Sekundær font:
font-family: 'Lilita One', cursive;

Font for tall:
font-family: 'Aladin', cursive;

*/

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

/** Innpaknings ark */

.ark {
  border: dashed 5px rgb(255, 255, 255);
  border-radius: 10px;
  margin: 30px;
  background-color: rgb(19, 124, 59);
  width: fit-content;
  height: fit-content;
  /* background-color: rgba(52, 52, 52, 1); */
}

/** Header */

h1,
h2 {
  text-align: center;
}

h1 {
  font-family: "Lilita One", cursive;
  color: rgb(222, 83, 83);
  font-size: 40px;
  margin-top: 15px;
  text-shadow: white 1px 1px;
}

h2 {
  font-family: "Lily Script One", cursive;
  margin-bottom: 20px;
  color: rgb(252, 252, 252);
}

.headContainer {
  display: grid;
  border-bottom: dashed black 3px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto;
}

/* Countdown */

.countdown-container {
  width: 30%;
  margin-top: 0;
  margin-left: 0;
  display: flex;
  padding: 20px;
  grid-column: 3/4;
  margin-top: 5%;
  margin-left: 15%;
  color: white;
  font-family: "Lily Script One", cursive;
  /* grid-column-start: start 1; */
}

span {
  margin-right: 10px;
  font-weight: bold;
}

.countdown-el {
  text-align: center;
}

/* Countdown */

header {
  /* grid-column-start: 0; */
  /* align-items: center; */
  /* display: flex; */
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 1/2;
  /* justify-content: center; */
}

/** Main */

.luke {
  width: 100px;
  height: 100px;
  margin: 30px;
  font-family: "Aladin", cursive;
  font-size: 20px;
  background-image: url("./images/Giftbox.png");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  cursor: pointer;
}

.kalenderGrid {
  display: grid;
  grid-template-areas:
    "lukeEn lukeTo kalender kalender kalender kalender lukeTre lukeFire"
    "lukeFem lukeSeks kalender kalender kalender kalender lukeSju lukeAatte"
    "lukeNi lukeTi lukeElleve lukeTolv lukeTretten lukeFjorten lukeFemten lukeSeksten"
    "lukeSytten lukeAtten lukeNitten lukeTjue lukeTjueEn lukeTjueTo lukeTjueTre lukeTjueFire";
}

main {
  display: flex;
  justify-content: center;
  background-color: rgb(19, 124, 59);
}

#skjerm {
  grid-area: kalender;
  margin: 30px;
  border: dashed black 3px;
  text-align: center;
  padding: 10%;
  font-size: 30px;
  color: rgba(255, 199, 59, 1);
  font-family: "Lilita One", cursive;
  letter-spacing: 2px;
  max-width: 95%;
}

.nr1 {
  grid-area: lukeEn;
}

.nr2 {
  grid-area: lukeTo;
}

.nr3 {
  grid-area: lukeTre;
}

.nr4 {
  grid-area: lukeFire;
}

.nr5 {
  grid-area: lukeFem;
}

.nr6 {
  grid-area: lukeSeks;
}

.nr7 {
  grid-area: lukeSju;
}

.nr8 {
  grid-area: lukeAatte;
}

.nr9 {
  grid-area: lukeNi;
}

.nr10 {
  grid-area: lukeTi;
}

.nr11 {
  grid-area: lukeElleve;
}

.nr12 {
  grid-area: lukeTolv;
}

.nr13 {
  grid-area: lukeTretten;
}

.nr14 {
  grid-area: lukeFjorten;
}

.nr15 {
  grid-area: lukeFemten;
}

.nr16 {
  grid-area: lukeSeksten;
}

.nr17 {
  grid-area: lukeSytten;
}

.nr18 {
  grid-area: lukeAtten;
}

.nr19 {
  grid-area: lukeNitten;
}

.nr20 {
  grid-area: lukeTjue;
}

.nr21 {
  grid-area: lukeTjueEn;
}

.nr22 {
  grid-area: lukeTjueTo;
}

.nr23 {
  grid-area: lukeTjueTre;
}

.nr24 {
  grid-area: lukeTjueFire;
}
/** Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: dashed black 3px;
}

#alleKnapper {
  background-color: rgba(255, 68, 64, 1);
  border: dashed 3px rgb(19, 124, 59);
  border-radius: 9px;
  font-family: "Lilita One", cursive;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 7px 120px;
  margin-top: 15px;
  cursor: pointer;
}

#alleKnapper:hover,
#nyKalender:hover {
  background-color: black;
  color: white;
}

#nyKalender {
  margin-top: 8px;
  background-color: rgba(255, 199, 59, 1);
  border: dashed 3px rgb(19, 124, 59);
  border-radius: 9px;
  font-family: "Lilita One", cursive;
  letter-spacing: 2px;
  padding: 7px 120px;
  margin-bottom: 15px;
  cursor: pointer;
}

/** MEDIA */
@media screen and (max-width: 1300px) {
  .luke {
    width: 80px;
    height: 80px;
    margin: 20px;
  }

  .kalenderGrid {
    display: grid;
    grid-template-areas:
      "kalender kalender kalender kalender kalender kalender"
      "kalender kalender kalender kalender kalender kalender"
      "lukeEn lukeTo lukeTre lukeFire lukeFem lukeSeks "
      " lukeSju lukeAatte lukeNi lukeTi lukeElleve lukeTolv"
      " lukeTretten lukeFjorten lukeFemten lukeSeksten lukeSytten lukeAtten "
      "lukeNitten lukeTjue lukeTjueEn lukeTjueTo lukeTjueTre lukeTjueFire";
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 900px) {
  .luke {
    width: 60px;
    height: 60px;
    margin: 20px;
  }

  .kalenderGrid {
    display: grid;
    grid-template-areas:
      "kalender kalender kalender kalender"
      "kalender kalender kalender kalender"
      "lukeEn lukeTo lukeTre lukeFire "
      " lukeFem lukeSeks lukeSju lukeAatte  "
      "lukeNi lukeTi lukeElleve lukeTolv"
      " lukeTretten lukeFjorten lukeFemten lukeSeksten"
      "lukeSytten lukeAtten lukeNitten lukeTjue"
      " lukeTjueEn lukeTjueTo lukeTjueTre lukeTjueFire";
  }
}
